version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d
    networks:
      - app-network

  # Gateway (только он нужен снаружи + фронт)
  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    ports:
      - "8090:8080"
    depends_on:
      - user-service
      - score-service
      - rating-service
      - comment-service
      - game-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - app-network

  # Microservices with exposed ports for debugging
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8085:8085"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - postgres
    networks:
      - app-network

  score-service:
    build: ./score-service
    container_name: score-service
    ports:
      - "8084:8084"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - postgres
    networks:
      - app-network

  rating-service:
    build: ./rating-service
    container_name: rating-service
    ports:
      - "8083:8083"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - postgres
    networks:
      - app-network

  comment-service:
    build: ./comment-service
    container_name: comment-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - postgres
    networks:
      - app-network

  game-service:
    build: ./game-service
    container_name: game-service
    ports:
      - "8082:8082"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - postgres
    networks:
      - app-network

  # Frontend served by Nginx
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:80"
    depends_on:
      - gateway-service
    networks:
      - app-network

volumes:
  postgres-data:

networks:
  app-network:
    driver: bridge