/* HTML, BODY*/
html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Helvetica Now Display, Arial, sans-serif;
    background: #fe3811;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    color: rgb(0, 0, 0);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    flex-shrink: 0;
}
header h1 {
    margin: 0;
    font-size: 7rem;
}
nav ul {
    display: flex;
    list-style: none;
    margin-right: 3vw;
    padding: 0;
}
nav ul li {
    margin-left: 2vw;
}
nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 5rem;
    font-weight: 500;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: white;
}
nav a.active {
    border-bottom: 2px solid white;
    color: white;
}
.logo-right {
    width: 5vw;
    height: 5vw;
    margin-right: 5vw;
}

/* LOGO */
.header-title {
    display: flex;
    align-items: center;
    gap: 20px;
}
.checkers_logo {
    width: 6vw;
    height: auto;
    border-radius: 8px;
}

/* HOME */
.home {
    font-size: 24px;
    text-align: center;
    margin-top: 200px;
}
.home a {
    text-decoration: none;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.home a:hover {
    transform: scale(1.05);
}

/* HOME PAGE */
.homePage {
    width: 90%;
    text-align: center;
    margin: 20vh auto 30vh auto;
}
.homePage h2 {
    width: 100%;
    letter-spacing: 0.8rem;
    margin: 1vh auto;
    font-size: 20rem;
}
.homePage button {
    font-size: 11rem;
    letter-spacing: 0.8rem;
    font-weight: bold;
    background-color: #fe3811;
    border: none;
}
.homePage button:hover {
    cursor: pointer;
    color: white;
    transition: color 0.3s;
}
.homePage a {
    text-decoration: none;
}

/* FOOTER */
footer {
    display: flex;
    width: 55%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    flex-wrap: wrap;
    line-height: 1.5;
    text-align: left;
}
footer img {
    width: 100%;
}
.footer-content p {
    margin: 8rem auto 5rem auto;
    font-size: 1rem;
    font-weight: 600;
}
footer .social-icons {
    display: flex;
    gap: 2rem;
}
footer .social-icons a {
    color: #000;
    font-size: 3rem;
    transition: color 0.3s ease;
    text-decoration: none;
}
footer .social-icons a:hover {
    color: white;
}

@media (max-width: 1440px) {
    /* HEADER */
    header h1 {
        font-size: 5rem;
    }
    nav ul li a {
        font-size: 5rem;
    }
    .homePage h2 {
        font-size: 10rem;
    }
    .homePage p {
        font-size: 8rem;
    }
    .homePage button {
        font-size: 5rem;
    }

    /* FOOTER */
    .footer {
        padding: 0.8rem 2rem;
    }
    footer .social-icons a {
        font-size: 1.2rem;
    }
}