/* RULES */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.main-rules {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30vh;
}
.rules {
    width: 60%;
    padding: 40px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.rules .block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.rules .block:last-child {
    border-bottom: none;
}
.rules .block h2,
.rules .block h3 {
    margin: 0;
    color: black;
    font-weight: 700;
}
.rules .block h2 {
    font-size: 4rem;
}
.rules .block h3 {
    font-size: 3rem;
    margin-top: 10px;
}
.rules .block p {
    margin: 0;
    line-height: 1.6;
    color: black;
    font-size: 2rem;
}

@media (max-width: 1440px) {
    .rules {
        width: 80%;
        padding: 30px;
        gap: 24px;
    }

    .rules .block h2 {
        font-size: 3.2rem;
    }

    .rules .block h3 {
        font-size: 2.4rem;
    }

    .rules .block p {
        font-size: 1.8rem;
    }
}