<div th:fragment="footer">
    <footer th:class="${activePage == 'home_page'} ? 'footer home-footer' : 'footer'">
        <img src="https://cdn.prod.website-files.com/63dbcb270006fb086fcc5eef/67377b287b1a1744c5490ec8_footer-badge.svg"
             loading="lazy" alt="" class="footer_badge">

        <div class="footer-content">
            <div class="left">
                <p>
                    KOSICE
                    <br>
                    1/9 LETNA
                    <br>
                    04200-SLOVAK REPUBLIC
                </p>
            </div>

            <div class="center social-icons">
                <a href="https://github.com/danylo-senchyshyn" target="_blank" aria-label="GitHub">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/senchyshyn-danylo-a49a9735b/" target="_blank"
                   aria-label="LinkedIn">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>

            <div class="right">
                <p>
                    CONTACT
                    <br>
                    <a href="mailto:danilsenchyshyn@gmail.com" class="mail"
                       style="text-decoration: underline; color: black">danilsenchyshyn@gmail.com</a>
                    <br>
                    &copy; 2025 CHECKERS
                </p>
            </div>
        </div>
    </footer>
</div>