<div th:fragment="about">
    <div class="about">
        <div class="block">
            <h2>About This Project</h2>
            <p>This project was developed by Danylo Senchyshyn, a student of the Technical University of Košice (TUKE),
                for
                the
                course "Komponentové Programovanie" (Component Programming).
            </p>
        </div>

        <div class="block">
            <h3>Project Aim</h3>
            <p>The goal of this project is to create an interactive checkers game that allows users to enjoy a strategic
                game of
                checkers online. The project showcases various programming concepts such as object-oriented programming,
                UI
                design, and backend integration.
            </p>
        </div>

        <div class="block">
            <h3>Technologies Used</h3>
            <p>The project was developed using Java for the backend and frontend, and integrated with Spring Boot for
                the
                server-side functionality. PostgreSQL is used for storing data such as user scores and ratings.
            </p>
        </div>

        <div class="block">
            <h3>Key Features</h3>
            <p>The game includes features such as user authentication, real-time gameplay, player rankings, and an
                intuitive
                UI
                designed to enhance the user experience.
            </p>
        </div>
    </div>
</div>