<div th:fragment="game">
    <main class="main-checkers">
        <div id='game-board'></div>

        <div class="game-container-vertical">
            <div class="player-block top-player">
                <div class="score" id="player2-block" th:classappend="${isWhiteTurn} ? '' : ' active-player'">
                    <img th:src="${blackPlayerAvatar}" alt="Black Avatar" class="game-avatar" id="player2-avatar">
                    <div class="player-name" id="player2-name" th:text="${blackPlayerName}">Player 2</div>
                    <div class="player-points" id="player2-points" th:text="${blackPlayerScore}">0</div>
                </div>
                <p>BLACK PLAYER</p>
            </div>

            <div class="game-main">
                <div class="game-section">
                    <div th:utext="${htmlField}"></div>
                </div>
            </div>

            <div class="player-block bottom-player">
                <div class="score" id="player1-block" th:classappend="${isWhiteTurn} ? ' active-player' : ''">
                    <img th:src="${whitePlayerAvatar}" alt="White Avatar" class="game-avatar" id="player1-avatar">
                    <div class="player-name" id="player1-name" th:text="${whitePlayerName}">Player 1</div>
                    <div class="player-points" id="player1-points" th:text="${whitePlayerScore}">0</div>
                </div>
                <p>WHITE PLAYER</p>
            </div>
        </div>

        <div class="side-panel">
            <a th:href="@{/checkers/new}" class="btn-new-game">NEW GAME</a>

            <div class="moves-log" id="moves-log">
                <h3>MOVES</h3>
                <ul id="move-list">
                    <li th:each="move : ${movesLog}" th:utext="${move}"></li>
                </ul>
            </div>
        </div>
    </main>

    <div id="gameOverModal" class="modal" style="display: none;">
        <div class="modal-content enhanced">
            <span class="close-button">&times;</span>
            <h2>GAME OVER</h2>
            <p class="winner-message">WINNER</p>
            <div class="winner-info">
                <img id="winnerAvatar" src="" alt="Аватар победителя" class="winner-avatar">
                <span id="winnerModal" class="winner-name" th:text="${winner}"></span>
            </div>
            <a th:href="@{/checkers/new}" class="modal-btn-new-game">NEW GAME</a>

        </div>
    </div>


    <script th:inline="javascript">
        const isWhiteTurn = /*[[${isWhiteTurn}]]*/ true;
        const gameOverFromServer = /*[[${gameOver}]]*/ false;
        const winnerFromServer = /*[[${winner}]]*/ '';
        const player1 = /*[['${player1}']]*/ '';
        const player2 = /*[['${player2}']]*/ '';
        const avatar1 = /*[['${avatar1}']]*/ '';
        const avatar2 = /*[['${avatar2}']]*/ '';
    </script>
    <script src="/js/game.js"></script>
</div>