<!--home_page.html-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkers</title>
    <link rel="stylesheet" href="/css/checkers.css">
    <link rel="stylesheet" href="/css/player_avatar.css">
    <link rel="icon" type="image/png" href="/images/board/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="homePage">
    <h2>WELCOME</h2>
    <button class="start-game" id="openModal">START</button>
</div>

<div id="playerModal" class="modal">
    <div class="modal-content">
        <span class="close-button" id="closeModal">&times;</span>
        <div class="players-container">
            <div class="player-section">
                <div class="avatar-section">
                    <div class="avatar-selector">
                        <button id="prevAvatar1">⏴</button>
                        <img id="avatarDisplay1" src="/images/player_avatar/bluered_glasses.gif" alt="Avatar"/>
                        <button id="nextAvatar1">⏵</button>
                    </div>
                </div>
                <div class="player-input">
                    <input type="text" id="player1Name" placeholder="NAME"/>
                </div>
            </div>

            <div class="player-section">
                <div class="avatar-section">
                    <div class="avatar-selector">
                        <button id="prevAvatar2">⏴</button>
                        <img id="avatarDisplay2" src="/images/player_avatar/bluered_glasses.gif" alt="Avatar"/>
                        <button id="nextAvatar2">⏵</button>
                    </div>
                </div>
                <div class="player-input">
                    <input type="text" id="player2Name" placeholder="NAME"/>
                </div>
            </div>
        </div>

        <button id="confirmSelection">CONFIRM</button>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="/js/home.js"></script>
</body>
</html>